In [6]:
import collections
import pandas as pd
import requests
import json

In [14]:
#pandas read_html by default searches for and attempts to parse all tabular data contained within <table> tags.
prem_table = pd.read_html('https://www.foxsports.com/soccer/standings?competition=1&season=2019')
Premier_table = prem_table[0]

print(len(prem_table))
print(type(prem_table))

print(Premier_table.head(18))

1
<class 'list'>
             English Premier League  GP  Pts   W   D   L  GF  GA  GD    Home  \
0                 1  Liverpool  LIV  29   82  27   1   1  66  21  45  15-0-0
1           2  Manchester City  MCI  28   57  18   3   7  68  31  37   9-2-2
2            3  Leicester City  LEI  29   53  16   5   8  58  28  30   9-3-3
3                   4  Chelsea  CHE  29   48  14   6   9  51  39  12   7-3-5
4         5  Manchester United  MAN  29   45  12   9   8  44  30  14   8-5-2
5             6  Wolverhampton  WLV  29   43  10  13   6  41  34   7   5-7-3
6           7  Sheffield United  SU  28   43  11  10   7  30  25   5   7-3-5
7         8  Tottenham Hotspur  TOT  29   41  11   8  10  47  40   7   8-2-4
8                   9  Arsenal  ARS  28   40   9  13   6  40  36   4   7-5-3
9                  10  Burnley  BUR  29   39  11   6  12  34  40  -6   7-2-6
10           11  Crystal Palace  CP  29   39  10   9  10  26  32  -6   6-4-5
11                 12  Everton  EVE  29   37  10   7  12  37  46  -9   7-4-3
12         13  Newcastle United  NU  29   35   9   8  12  25  41 -16   5-6-3
13             14  Southampton  SHN  29   34  10   4  15  35  52 -17   4-2-9
14  15  Brighton & Hove Albion  BHA  29   29   6  11  12  32  40  -8   4-6-4
15         16  West Ham United  WHU  29   27   7   6  16  35  50 -15   4-3-7
16                 17  Watford  WAT  29   27   6   9  14  27  44 -17   4-5-5
17             18  Bournemouth  BOU  29   27   7   6  16  29  47 -18   4-5-5

      Away
0   12-1-1
1    9-1-5
2    7-2-5
3    7-3-4
4    4-4-6
5    5-6-3
6    4-7-2
7    3-6-6
8    2-8-3
9    4-4-6
10   4-5-5
11   3-3-9
12   4-2-9
13   6-2-6
14   2-5-8
15   3-3-9
16   2-4-9
17  3-1-11

In [15]:
# #convert the list to a dataframe
prem_table = ['English Premier League', 'GP', 'Pts', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Home', 'Away' ]

In [16]:
from pandas import DataFrame
df = DataFrame (Premier_table,columns=['English Premier League', 'GP', 'Pts', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Home', 'Away'])
print (df)

             English Premier League  GP  Pts   W   D   L  GF  GA  GD    Home  \
0                 1  Liverpool  LIV  29   82  27   1   1  66  21  45  15-0-0
1           2  Manchester City  MCI  28   57  18   3   7  68  31  37   9-2-2
2            3  Leicester City  LEI  29   53  16   5   8  58  28  30   9-3-3
3                   4  Chelsea  CHE  29   48  14   6   9  51  39  12   7-3-5
4         5  Manchester United  MAN  29   45  12   9   8  44  30  14   8-5-2
5             6  Wolverhampton  WLV  29   43  10  13   6  41  34   7   5-7-3
6           7  Sheffield United  SU  28   43  11  10   7  30  25   5   7-3-5
7         8  Tottenham Hotspur  TOT  29   41  11   8  10  47  40   7   8-2-4
8                   9  Arsenal  ARS  28   40   9  13   6  40  36   4   7-5-3
9                  10  Burnley  BUR  29   39  11   6  12  34  40  -6   7-2-6
10           11  Crystal Palace  CP  29   39  10   9  10  26  32  -6   6-4-5
11                 12  Everton  EVE  29   37  10   7  12  37  46  -9   7-4-3
12         13  Newcastle United  NU  29   35   9   8  12  25  41 -16   5-6-3
13             14  Southampton  SHN  29   34  10   4  15  35  52 -17   4-2-9
14  15  Brighton & Hove Albion  BHA  29   29   6  11  12  32  40  -8   4-6-4
15         16  West Ham United  WHU  29   27   7   6  16  35  50 -15   4-3-7
16                 17  Watford  WAT  29   27   6   9  14  27  44 -17   4-5-5
17             18  Bournemouth  BOU  29   27   7   6  16  29  47 -18   4-5-5
18              19  Aston Villa  AV  28   25   7   4  17  34  56 -22   5-2-6
19             20  Norwich City  NC  29   21   5   6  18  25  52 -27   4-3-7

      Away
0   12-1-1
1    9-1-5
2    7-2-5
3    7-3-4
4    4-4-6
5    5-6-3
6    4-7-2
7    3-6-6
8    2-8-3
9    4-4-6
10   4-5-5
11   3-3-9
12   4-2-9
13   6-2-6
14   2-5-8
15   3-3-9
16   2-4-9
17  3-1-11
18  2-2-11
19  1-3-11

In [17]:
df = pd.read_csv('epl.csv', index_col=0)
# Read on slicing with numpy arrays [a:b, x:y] a,b select rows and x,y columns
# df.head().iloc[:1,] #gets 0 inexed row
#df.head().iloc[2:,] # get from 3rd team and all cols
df.iloc[:, :1]

             English Premier League
0                 1  Liverpool  LIV
1           2  Manchester City  MCI
2            3  Leicester City  LEI
3                   4  Chelsea  CHE
4         5  Manchester United  MAN
5             6  Wolverhampton  WLV
6           7  Sheffield United  SU
7         8  Tottenham Hotspur  TOT
8                   9  Arsenal  ARS
9                  10  Burnley  BUR
10           11  Crystal Palace  CP
11                 12  Everton  EVE
12         13  Newcastle United  NU
13             14  Southampton  SHN
14  15  Brighton & Hove Albion  BHA
15         16  West Ham United  WHU
16                 17  Watford  WAT
17             18  Bournemouth  BOU
18              19  Aston Villa  AV
19             20  Norwich City  NC

In [18]:
#rename English Premier League to Teams
df.rename(columns={'English Premier League':'Teams'}, inplace=True)

In [19]:
df.columns

Index(['Teams', 'GP', 'Pts', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Home', 'Away'], dtype='object')

In [ ]:
# df = df.drop('Unnamed: 0' , axis=1)
# Instead of dropping unamed(causes error) specify index column since the 1st col is for indices
# e.g df = pd.read_csv('epl.csv', index_col=0) already done so above

In [20]:
df.dtypes

Teams    object
GP        int64
Pts       int64
W         int64
D         int64
L         int64
GF        int64
GA        int64
GD        int64
Home     object
Away     object
dtype: object

In [21]:
#create column that shows the ratio of  total goals(gf) against total games played, total conceded/GP and points/game
df['Goal_Game'] = round(df['GF']/df['GP'],2)
df['defenseratio'] = round(df['GA']/df['GP'],2)
df['PPG'] = round(df['Pts']/df['GP'],2)

In [22]:
# df['GF'].iloc[0:20]
df['PPG'].iloc[0:]

0     2.83
1     2.04
2     1.83
3     1.66
4     1.55
5     1.48
6     1.54
7     1.41
8     1.43
9     1.34
10    1.34
11    1.28
12    1.21
13    1.17
14    1.00
15    0.93
16    0.93
17    0.93
18    0.89
19    0.72
Name: PPG, dtype: float64

In [23]:
df

,Teams,GP,Pts,W,D,L,GF,GA,GD,Home,Away,Goal_Game,defenseratio,PPG
0,1 Liverpool LIV,29,82,27,1,1,66,21,45,15-0-0,12-1-1,2.28,0.72,2.83
1,2 Manchester City MCI,28,57,18,3,7,68,31,37,9-2-2,9-1-5,2.43,1.11,2.04
2,3 Leicester City LEI,29,53,16,5,8,58,28,30,9-3-3,7-2-5,2.00,0.97,1.83
3,4 Chelsea CHE,29,48,14,6,9,51,39,12,7-3-5,7-3-4,1.76,1.34,1.66
4,5 Manchester United MAN,29,45,12,9,8,44,30,14,8-5-2,4-4-6,1.52,1.03,1.55
5,6 Wolverhampton WLV,29,43,10,13,6,41,34,7,5-7-3,5-6-3,1.41,1.17,1.48
6,7 Sheffield United SU,28,43,11,10,7,30,25,5,7-3-5,4-7-2,1.07,0.89,1.54
7,8 Tottenham Hotspur TOT,29,41,11,8,10,47,40,7,8-2-4,3-6-6,1.62,1.38,1.41
8,9 Arsenal ARS,28,40,9,13,6,40,36,4,7-5-3,2-8-3,1.43,1.29,1.43
9,10 Burnley BUR,29,39,11,6,12,34,40,-6,7-2-6,4-4-6,1.17,1.38,1.34
10,11 Crystal Palace CP,29,39,10,9,10,26,32,-6,6-4-5,4-5-5,0.90,1.10,1.34
11,12 Everton EVE,29,37,10,7,12,37,46,-9,7-4-3,3-3-9,1.28,1.59,1.28
12,13 Newcastle United NU,29,35,9,8,12,25,41,-16,5-6-3,4-2-9,0.86,1.41,1.21
13,14 Southampton SHN,29,34,10,4,15,35,52,-17,4-2-9,6-2-6,1.21,1.79,1.17
14,15 Brighton & Hove Albion BHA,29,29,6,11,12,32,40,-8,4-6-4,2-5-8,1.10,1.38,1.00
15,16 West Ham United WHU,29,27,7,6,16,35,50,-15,4-3-7,3-3-9,1.21,1.72,0.93
16,17 Watford WAT,29,27,6,9,14,27,44,-17,4-5-5,2-4-9,0.93,1.52,0.93
17,18 Bournemouth BOU,29,27,7,6,16,29,47,-18,4-5-5,3-1-11,1.00,1.62,0.93
18,19 Aston Villa AV,28,25,7,4,17,34,56,-22,5-2-6,2-2-11,1.21,2.00,0.89
19,20 Norwich City NC,29,21,5,6,18,25,52,-27,4-3-7,1-3-11,0.86,1.79,0.72

In [24]:
df = df.drop('Away', axis=1)

In [25]:
df1 = df.drop('Home', axis=1)

In [28]:
df1.columns
type(df1.head())

pandas.core.frame.DataFrame

In [29]:
# use loc since you have the label of the row
def geteplteamdata(team_row):

    totalwins = team_row.W
    totaldraws = team_row.D
    totallosses = team_row.L
    totalgoalsscored = team_row.GF
    totalconceeded = team_row.GA
    goalgameratio =team_row.Goal_Game
    defenseratio = team_row.defenseratio
    pointspergame = team_row.PPG
    if totalwins ==0:
        totaldraws=0
        totallosses=0
        totalgoalsscored=0
        totalconceeded=0
        goalgameratio=0
        defenseratio=0
        pointspergame=0
    return[totalwins, totaldraws, totallosses,totalgoalsscored, totalconceeded, goalgameratio, defenseratio, pointspergame]

In [30]:
Manchester_Utd= df1.iloc[4]
geteplteamdata(Manchester_Utd)
#for row in df1.itertuples():
     #print(type(row))

[12, 9, 8, 44, 30, 1.52, 1.03, 1.55]

In [32]:
Liverpool=df1.iloc[0]
geteplteamdata(Liverpool)

[27, 1, 1, 66, 21, 2.28, 0.72, 2.83]

In [33]:
def createteamDict(dataframe):
    teamDict = collections.defaultdict()
    #loop through dataframe rows
    for team in dataframe.itertuples(): 
        teamvector = geteplteamdata(team)
        team_name = team.Teams
        teamDict[team_name] = teamvector
    return teamDict

In [34]:
createteamDict(df1)

defaultdict(None,
            {'1  Liverpool  LIV': [27, 1, 1, 66, 21, 2.28, 0.72, 2.83],
             '2  Manchester City  MCI': [18, 3, 7, 68, 31, 2.43, 1.11, 2.04],
             '3  Leicester City  LEI': [16, 5, 8, 58, 28, 2.0, 0.97, 1.83],
             '4  Chelsea  CHE': [14, 6, 9, 51, 39, 1.76, 1.34, 1.66],
             '5  Manchester United  MAN': [12, 9, 8, 44, 30, 1.52, 1.03, 1.55],
             '6  Wolverhampton  WLV': [10, 13, 6, 41, 34, 1.41, 1.17, 1.48],
             '7  Sheffield United  SU': [11, 10, 7, 30, 25, 1.07, 0.89, 1.54],
             '8  Tottenham Hotspur  TOT': [11,
              8,
              10,
              47,
              40,
              1.62,
              1.38,
              1.41],
             '9  Arsenal  ARS': [9, 13, 6, 40, 36, 1.43, 1.29, 1.43],
             '10  Burnley  BUR': [11, 6, 12, 34, 40, 1.17, 1.38, 1.34],
             '11  Crystal Palace  CP': [10, 9, 10, 26, 32, 0.9, 1.1, 1.34],
             '12  Everton  EVE': [10, 7, 12, 37, 46, 1.28, 1.59, 1.28],
             '13  Newcastle United  NU': [9, 8, 12, 25, 41, 0.86, 1.41, 1.21],
             '14  Southampton  SHN': [10, 4, 15, 35, 52, 1.21, 1.79, 1.17],
             '15  Brighton & Hove Albion  BHA': [6,
              11,
              12,
              32,
              40,
              1.1,
              1.38,
              1.0],
             '16  West Ham United  WHU': [7, 6, 16, 35, 50, 1.21, 1.72, 0.93],
             '17  Watford  WAT': [6, 9, 14, 27, 44, 0.93, 1.52, 0.93],
             '18  Bournemouth  BOU': [7, 6, 16, 29, 47, 1.0, 1.62, 0.93],
             '19  Aston Villa  AV': [7, 4, 17, 34, 56, 1.21, 2.0, 0.89],
             '20  Norwich City  NC': [5, 6, 18, 25, 52, 0.86, 1.79, 0.72]})

In [1]:
def getTrainingData(Teams):
    totalNumGame =0
    for Teams in Teams:
        TotalNumGames = df1['GP']
    numFeatures = len(geteplteamdata('Liverpool'))
    xtrain = np.zeroes((TotalNumGames, numFeatures))
    ytrain = np.zeroes((TotalNumGames))
    indexCounter = 0
    for Teams in Teams:
        team_vectors = createteamDict(dataframe)
        TotalNumGames = df1['GP']
        xtrain1 = np.zeroes((TotalNumGames, numFeatures))
        ytrain1 = np.zeroes((TotalNumGames))
        counter = 0
        for index, row in df1.iterrows():
            h_team = row['Teams']
            h_vector = team_vectors[h_team]
            a_team = row['Teams']
            a_vector = team_vectors[a_team]
            diff = [a-b  for a,b in zip(h_vector, a_vector)]
            if (counter % 2 == 0):
                if len(diff) != 0:
                    xtrain1[counter] = diff
                ytrain1[counter] = 1
            else:
                    if len(diff) != 1:
                         xtrain1[counter] = [-p for p in diff]
                    ytrain1[counter] = 0
            counter += 1
    xtrain[indexcounter:TotalNumGames+indexcounter]=xtrain1
    ytrain[indexcounter:TotalNumGames+indexcounter]=ytrain1
    indexcounter += TotalNumGames
    return xtrain, ytrain

In [2]:
Teams = range(0,19)
xtrain, ytrain = getTrainingData(Teams)
np.save('xtrain', xtrain)
np.save('ytrain', ytrain)

NameError: name 'df1' is not defined